@page
@model CarBookingApp.Pages.Makes.CreateModel
@{
}
<h3 Create new Make</h3>

<div class="card">
    <div>
        <form method="post">
           <div class="card-body">
               
               <div class="card-body">
                 <label asp-for="@Model.NewMake.Name" class="control-label"> </label>
                 <input asp-for="@Model.NewMake.Name" class="form-control" placeholder="Enter Name" />
               </div>
               
          </div>
          <input type="submit" name="name" value="Submit" class="btn btn-primary" /> 
            <a href="/Makes/ListMakes" class="btn btn-outline-primary"> Back to List</a>
        </form>
    </div>
</div>
<h3 id="hello">Hello</h3>
<h3 id="good">Good day!</h3>

<button data-color="red">Red</button>
<button data-color="green">Green</button>
<button data-color="blue">Blue</button>

<select id="select">
    <option value="red">Red</option>
    <option value="black">Black</option>
    <option value="green">Green</option>

</select>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
@*<script src="js/JqueryLogics.js"></script>*@

<script>
    document.addEventListener('DOMContentLoaded', function(){
        document.querySelectorAll('button').forEach(function(button) {
            button.onclick = function() {
                document.querySelector('#hello').style.color = button.dataset.color;
            }
        });
    
    })

  /* document.addEventListener('DOMContentLoaded', function() { 
    document.querySelector('select').onchange = function() {
        document.querySelector(#'good').style.color = this.value;
    };
}*/


</script>



}